body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    h1{
        font-size: 64px;
        color: palevioletred;
        font-weight: bold;
    }
}